transformers==4.57.1
huggingface_hub
qwen-vl-utils
pyvips-binary
sentencepiece
opencv-python
torch==2.6.0
docling-core
molmo_utils
python-docx
torchvision
supervision
accelerate
matplotlib
pdf2image
reportlab
markdown
requests
pymupdf
decord2 
hf_xet
spaces
pyvips
pillow
gradio
einops
httpx
fpdf
peft
timm
av